<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :content, for: :todo_content %>
    <%= form.text_field :content, id: :todo_content, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :due_date, for: :todo_due_date_1i %>
    <%= form.datetime_select :due_date, id: :todo_due_date, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :done, for: :todo_done %>
    <%= form.check_box :done, id: :todo_done %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
