<p id="notice"><%= notice %></p>

<img class="logo" src="<%= asset_pack_path 'rails.svg' %>" />

<form class="form-inline">
  <div class="form-group">
    <label>
      sort by:
      <select class="form-control" data-change-query="sort_by">
        <option value="due_date_asc">due date(asc)</option>
        <option value="due_date_desc">due date(desc)</option>
        <option value="created_at_asc">created at(asc)</option>
        <option value="created_at_desc">created at(desc)</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label>done: <input type="checkbox" data-change-query="done"></label>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Content</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td>
          <% if todo.done %>
            <img class="check" src="<%= asset_pack_path 'check-square-o.svg' %>" />
          <% else %>
            <img class="check" src="<%= asset_pack_path 'square-o.svg' %>" />
          <% end %>
          <%= todo.content %>
        </td>
        <td><%= todo.due_date %></td>
        <td><%= link_to 'Show', todo, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path, class: 'btn btn-default' %>
